out
HW*/*

# code
!*.py
!*.ipynb

# compiled notebooks
!hw*.pdf

# overview docs
!HW*/HW*_Overview.pdf

# data
!**/data/
!*.csv

# misc
!.gitignore
!README.md
!HW00/Overview_of_NLP.pdf
!HW03/anat19.txt
!HW05/Narrative.pdf
!HW10/ACL_Paper_Summary.pdf
